*{
    padding: 0;
    margin: 0;
    
}
.nav{
    background-color: aqua;
}
.span{
    background-color: red;
}
.nav-link{
    margin-right: 25px; /* Agrega espacio entre elementos (ajusta el valor según tus necesidades) */
    text-decoration: none;
    color: black; /*Color predeterminado para los titulos*/
}
.nav-link:hover{
    box-shadow: 4px 4px 8px rgba(235, 22, 22, 0.7);
    

}
.navbar-nav{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
#bottom-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
#button{
    cursor: pointer;
    padding: 10px; 
    border: 2px solid #0fc00f42;
    border-radius: 5px;
    background-color: rgb(3, 245, 3); /*paquetico de mani*/
    
}
#button:hover{
    color: blue; 
    box-shadow: 4px 4px 8px rgba(0, 24, 2, 0.7);
}
