/*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.LogIntitle{
    margin-inline: 13%;
    text-align: justify;
}

.parrafosDeDivsLogIn{
    font-weight: bolder;
    text-align: left;
    margin-bottom: 6px;
    font-size: 20px;
}

.LogIntitle div{
    margin-top: 2rem;
    font-weight: bold;
}
.logIn_bannerImg{
    text-align: center;
}
.logIn_bannerImg img{
    width: 40rem;
    height: 12rem;
}
.LogInMain{
    margin-top: 5rem;
}
.logOut img{
    width: 50px;
    height: 45px;
}

.navbar_enlaces_logIn .banner_button_monedero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    width: 190px;
}*/