:root {
    --primary_color : #22c55e;
    --secondary_color : #FD8400;
}
* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

.estiloEnlaces{
    text-decoration: none;
    color:black;
}

.header_index{
    height: 100vh;
}
.navbar, .navbarLogIn{
    align-items: center;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 2rem; 
}
.logo_navbar img {
    height: 70px;
    width: 190px;
}

.navbar div ul{
    display: flex;
    list-style: none;
    background-color: none;
}
.navbar li{
    font-size: 20px;
    margin-inline: 10px;
}
.navbar a{
    text-decoration: none;
}

.navbar_enlaces{
    align-items: center;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar_enlaces, .navbar_enlaces_logIn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navbar_enlaces div{
    margin-inline: 10px;
}
.banner_button{
    display: flex;
}
.banner_button_img{
    width: 19%;
    height: 19%;
}
.banner_button a, .navbarLogIn_banner_button,.banner_button_monedero{
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    height: 45px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
}

#contenidoMonedero{
    display: inline-block;
    width: 60px;
}

.banner_button a, .navbarLogIn_banner_button{
    width: 150px;
}

.banner_button_monedero p{
    width:fit-content;
    margin:0;
}
.banner_button_login, .navbarLogIn_banner_button{
    background-color: var(--primary_color);
    color: white;
    margin-right: 12px;
}

.banner_button_signUp, .banner_button_monedero{
    background-color: white;
    border: var(--primary_color) solid 2px;
    border-radius: 7px;
    color:black;
}
.banner_button a:hover {
    background-color: var(--secondary_color);
    border-color: var(--secondary_color);
    color: white; 
} 
.banner_principal{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 80%;
    margin-left: 3rem;
}
.banner_principal h1 {
    font-size: 58px;
    width: 40%;
}
.banner_principal h1 span {
    color: var(--secondary_color);
}
.banner_principal img {
    height: 100%;
    width: 50%;
}
.banner_principalImg{
    background-image: url("../img/landingImg/banner_principal.png");
    background-repeat: no-repeat;
    background-position: 409px 10px;
    background-size:52rem;
}

/*FOOTER*/
.footer, .footer a{
    background-color: rgba(38, 34, 34, 1) ;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-top: 3rem;
}


footer section span {
    margin: 10px;
}

footer img{
    height: 30px;
    width: 30px;
}

/* ! Seguir ordenando */


/*botones banner*/


/* empeiza estilo de landing page

*/

/*Estilos generales*/
.parrafosDeDivs{
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 20px;
}

.buttonLanding, .buttonLandingSend{
    padding: 7px;
    padding-inline: 15px;
    background-color: #ff8624;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
}
.buttonLandingSend{
    padding-inline: 100px;
}

/*primer recuadro Recicla-ando*/
.img_fondoniño{
    background-image: url("../img/landingImg/chicoreciclandoindex.png");
    background-repeat: no-repeat;
    background-position: 620px 1px;
    background-size:45rem;
}
.primerRecuadro{
    height: 630px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
}
#reci-clando{
    width: 700px;
    height: 290px;
    margin-left: 3rem;
    margin-top: 0%;
    text-align: justify;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.reci-clandoButton{
    text-align: center;
    margin: 2rem;
}

/*segundo recuadro Cómo funciona Recicla-Ando*/
.section_comoFunciona, .TresR, .beneficios_imgs, .sectionForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.primerRecuadro_img{
    background-image: url("../img/landingImg/8667919.png");
    background-repeat: no-repeat;
    background-position: 10px;
    background-size:45rem;
}
.remarco_comoFunciona{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

.remarco_comoFunciona{
    margin-top: 5rem;
    width: 59rem;
    height: 33rem;
    text-align: justify;
}
.remarco_comoFunciona div{
    margin: 1rem;
}

.comoFunciona_listado li{
    margin: 0.5rem;
}
.comoFunciona_listado p{
    text-align: center;
    font-weight: bold;
}

.remarco_comoFunciona ul{
    margin-inline: 90px;
    margin-bottom: 5px;
}

/*beneficios que podras ganar*/
.beneficios{
    padding: 3rem;
    text-align: center;
}

.beneficios article{
    width: 190px;
    height: 199px;
    margin: 1rem;
}
.beneficios_imgs article div{
    margin: 1.5rem;
}

.beneficios_imgs{
    margin: 1rem;
}
.beneficios_imgs img{
    height: 100px;
    width: 100px;
}

/*Cómo empezar*/
.comoEmpezar{
    text-align: center;
    margin-top: 2rem;
}

.TresR article{
    padding-top: 2rem;
    height: 340px;
    width: 290px;
    margin: 10px;
    margin-bottom: 1rem;
    margin-inline: 1.5rem;
}
.TresR article div{
    margin-bottom: 20px;
    
}
.tresR_descipcion{
    text-align: justify;
}
.tresR_button{
    margin: 1rem;
}
.TresR article div img{
    width: 170px;
    height: 170px;
    margin: 10px;
}

/*section form*/
.sectionForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.5rem;
    height: 500px;
    margin-top: 5rem;
}
.formImg{
    text-align: center;
}
.sectionForm div{
    width: 50%;
}
.sectionForm div img{
    width: 70%;
    height: 70%;
}
.formContacto{
    width: 90%;
    height: 100%;
}
div.formContacto_title{
    margin-bottom: 2rem;
    width: 100%;
}
.formContacto form{
    display:flex;
    flex-direction: column;
}
.formContacto form div{
    margin: 0.6rem;
    width: 100%;
    height: 100%;
}
.formContacto form div input{
    background-color: #bae3b9;
    border-radius: 5px;
    padding: 1rem;
    width: 95%;
    border-color: none;
    border-style: none;
}

.input:focus, .input:active {
    outline: none;
    border: none;
  }

.formContacto_Mesaje{
    height: 100px;
}

/*css de registro.html*/
/*Es el que se importa a JavaScript*/
.inicioDeSesion{
    background-color: white;
    padding: 1rem;
}
/*Afecta a la division de los span*/
.recordarme{
    display: flex;
    justify-content: space-around;
}
/*checkbox y la etiqueta p, la alinea en una misma linea*/
.recordarme span{
    display: flex;
}
/*Section3 organiza en dos columnas el inicio sesión de la imagen*/
.section3{
    display: flex;
    justify-content: space-around;
}
/*Afceta al body del archivo html*/
.section2{
    background-color: white;
}
/*Afecta al boton donde el usuario da clic para iniciar sesión*/
.inicioBoton button{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: green;
    color:white;
    border: none;
    cursor: pointer;
}
/*Afecta a los inputs del form (correro y contraseña)*/
.widthInput{
    border-radius: 5px;
    padding: 15px;
    width: 273px;
    margin: 15px;

}

/*Afecta la seccion de No tienes una cuenta? Registrate*/
.registrate{
    display: flex;
    justify-content: space-around;
}
/*Clase padre que afecta el centrado de inicio de sesion (afecta todo el formulario y boton)*/
.mainBody{
    display:flex;
    flex-direction: column;
    align-items:baseline;
    justify-content:flex-start;
    background-color: none;
    padding: 50px;
}
/*afecta al título inicio de sesión*/
.tituloiniciodesesion{
    text-align: center;
}

/*Afecta al logo del inicio de sesion*/
.loginLogo{
    margin: 50px;
    text-align: center;
}

.presentacioninicio{
    margin-right:  10px;
}

.formularioeimagen{
    display:flex;
}

.main_login{
    display: flex;
    justify-content:flex-start;
    margin-left: 10px ; 
}

/*acá empieza la clase botón flotante*/

.botonFlotante{
    width: 28px;
    height:28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background-color: white;
    position: fixed;
    right:50px;
    bottom: 50px;
    border-radius: 50%;
    transform:scale(0);
    transition: all 300ms ease;
}