:root {
    --primary_color : #22c55e;
    --secondary_color : #FD8400;
}
* {  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:black;
}
.header_index{
    height: 100vh;
}
.navbar{
    align-items: center;
    background-color: none;
    display:flex;
    justify-content: space-around;
    padding: 2rem; 
}
.logo_navbar img {
    height: 50px;
    width: 150px;
}
.navbar ul{
    display: flex;
    list-style: none;
    background-color: none;
}
.navbar li{
    font-size: 20px;
    margin-inline: 20px;
}
.banner_button {
    display: flex;
}
.banner_button a {
    border-radius: 54px;
    text-align: center;
    padding: 10px;
    width: 110px;
    -webkit-border-radius: 54px;
    -moz-border-radius: 54px;
    -ms-border-radius: 54px;
    -o-border-radius: 54px;
}
.banner_button_login {
    background-color: var(--primary_color);
    color: white;
    margin-right: 12px;
}

.banner_button_signUp{
    background-color: white;
    border: var(--primary_color) solid 2px;
    border-radius: 7px;
    color:black;
}
.banner_button a:hover {
    background-color: var(--secondary_color);
    border: none;
    color: white; 
} 
.banner_principal{
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 80%;
}
.banner_principal h1 {
    font-size: 58px;
    width: 40%;
}
.banner_principal h1 span {
    color: var(--secondary_color);
}
.banner_principal img {
    height: 100%;
    width: 50%;
}
.footer{
    background-color: rgba(38, 34, 34, 1) ;
}

footer section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

footer section span {
    margin: 10px;
}


/* ! Seguir ordenando */


/*botones banner*/





/* empeiza estilo de landing page

*/

#primerBanner{
    background-image: url("../Imagenes/LandingImg/7903543.png");
    background-size: cover;
    height: 600px;
    text-align: center;
}

#tercerBanner{
    background-image: url('../Imagenes/LandingImg/8667919.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 600px;
    background-size: contain;
    background-color: rgb(14, 58, 58);
}
#comoFunciona{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5)
}

#reci-clando{
    width: 500px;
    height: 290px;
    margin-left: 3rem;
    margin-top: 0%;
    text-align: justify;
    border: solid black 1px;
    border-radius: 5px;
    padding: 2rem;
}
#beneficios{
    text-align: center;
}
.section_comoFunciona{
    display: flex;
    justify-content: center;
    align-items: center;
}
#comoFunciona{
    margin-top: 5rem;
    width: 70rem;
    height: 25rem;
}
#comoFunciona ul{
    margin-inline: 50px;
    margin-bottom: 5px;
}
#beneficios2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#howWorks{
    display: flex;
    justify-content: center;
    align-items: center;
}


#beneficios{
    padding: 3rem;
}

#beneficios article{
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 195px;
    margin: 2rem;
}

#beneficios article div img{
    height: 150px;
    width: 150px;
    padding: 3rem;
}

.buttonLanding{
    padding: 7px;
    padding-inline: 15px;
    background-color: orangered;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 3px;

}
#comoReciclar{
    text-align: center;
}

.subtitulos{
    font-weight: bolder;
    margin-bottom: 1rem;
    text-align: center;
}

#TresR{
    display: flex;
    justify-content: center;
    align-items: center;
}
#TresR article{
    padding-top: 2rem;
    height: 300px;
    width: 300px;
    margin: 10px;
}
#TresR article div{
    margin-bottom: 20px;
    
}
#TresR article div img{
    width: 150px;
    height: 150px;
}

/*
css de registro.html
/*
*/
/*Es el que se importa a JavaScript*/
.inicioDeSesion{
    background-color: white;
    padding: 1rem;
}
/*Afecta a la division de los span*/
.recordarme{
    display: flex;
    justify-content: space-around;
}
/*checkbox y la etiqueta p, la alinea en una misma linea*/
.recordarme span{
    display: flex;
}
/*Section3 organiza en dos columnas el inicio sesión de la imagen*/
.section3{
    display: flex;
    justify-content: space-around;
}
/*Afceta al body del archivo html*/
.section2{
    background-color: white;
}
/*Afecta al boton donde el usuario da clic para iniciar sesión*/
.inicioBoton button{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: green;
    color:white;
    border: none;
}
/*Afecta a los inputs del form (correro y contraseña)*/
.widthInput{
    border-radius: 5px;
    padding: 15px;
    width: 273px;
    margin: 15px;

}

/*Afecta la seccion de No tienes una cuenta? Registrate*/
.registrate{
    display: flex;
    justify-content: space-around;
}
/*Clase padre que afecta el centrado de inicio de sesion (afecta todo el formulario y boton)*/
.mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
}
/*Afecta al logo del inicio de sesion*/
.loginLogo{
    margin: 50px;
    text-align: center;
    background-color: none;
}



  
